---
interface Props {
    index: number;
    name: string;
    alt: string | undefined;
    date: string;
    characterList: string[];
    tags: string[];
    qrPostUrl: string | null;
    mainPostUrl: string | undefined;
}

const { index, name, alt, date, characterList, tags, qrPostUrl, mainPostUrl } =
    Astro.props;
---

<div
    class="photo-card"
    data-index={index}
    data-characters={characterList.join(",")}
    data-character-count={characterList.length}
    data-tags={tags.join(",")}
    data-has-qr={qrPostUrl !== null}
>
    <a href={`${mainPostUrl}`} target="_blank">
        <img
            src={`/images/photos/${name}.webp`}
            alt={alt ?? ""}
            onerror="this.onerror=null; this.src='https://placehold.co/800x1140'"
            loading="lazy"
        />
        {
            qrPostUrl && (
                <a href={qrPostUrl} target="_blank" class="qr-badge">
                    <svg fill="currentColor">
                        <use href="#icon-qr" />
                    </svg>
                    <span>QR</span>
                </a>
            )
        }
        <div class="card-body">
            <p class="card-title">{name}</p>
            <p class="card-date">{date}</p>
        </div>
    </a>
</div>
