---
import photoGalleryJson from "../data/photo_gallery.json";
import PhotoCard from "./PhotoCard.astro";
import { formatDate } from "../utils/helper";

const thumbnailList = Object.values(photoGalleryJson.images).map(
    (image, index) => {
        return {
            index: index,
            src: `/images/photos/${image.name}.webp`,
            dateFormattedString: formatDate(image.date),
            ...image,
        };
    },
);
// get unique characters and have it sorted by characters_order
const characters = [
    ...new Set(thumbnailList.flatMap((image) => image.characters)),
].sort(
    (a, b) =>
        photoGalleryJson.characters_order.indexOf(a) -
        photoGalleryJson.characters_order.indexOf(b),
);

// get unique tags and have it sorted by tags_order
const tags = [...new Set(thumbnailList.flatMap((image) => image.tags))].sort(
    (a, b) =>
        photoGalleryJson.tags_order.indexOf(a) -
        photoGalleryJson.tags_order.indexOf(b),
);
---

<div id="photo-gallery-container">
    <!-- FILTER SECTION -->
    <section id="filter-section">
        <!-- Filter content will go here -->
        <div class="filter-header">
            <h2>Filter</h2>
            <button id="filter-clear-btn" aria-label="clear filter">
                <span>RESET ALL</span>
            </button>
        </div>
        <div class="filter-content">
            <div class="filter-group">
                <span class="filter-label">CHARACTERS</span>
                <div class="filter-pills" id="character-filters">
                    <button class="pill active" data-character-all
                        >All Characters</button
                    >
                    {
                        characters.map((character) => (
                            <button class="pill" data-character={character}>
                                {character}
                            </button>
                        ))
                    }
                </div>
            </div>
            <div class="filter-group">
                <span class="filter-label">PHOTO MODES</span>
                <div class="filter-pills" id="photo-mode-filters">
                    <button class="pill active" data-pm-all>All Modes</button>
                    <button class="pill" data-pm="solo">Solo</button>
                    <button class="pill" data-pm="duo">Duo</button>
                    <button class="pill" data-pm="others">Others</button>
                </div>
            </div>
            <div class="filter-group">
                <span class="filter-label">TAGS</span>
                <div class="filter-pills" id="tag-filters">
                    <button class="pill active" data-tag-all>All Tags</button>
                    <button class="pill pill-qr" data-qr-filter>
                        <svg
                            class="icon"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <use href="#icon-qr"></use>
                        </svg>
                        Has QR Code
                    </button>
                    {
                        tags.map((tag) => (
                            <button class="pill" data-tag={tag}>
                                {tag}
                            </button>
                        ))
                    }
                </div>
            </div>
        </div>
    </section>

    <!-- TOTAL PHOTO COUNT -->
    <div id="total-photo-count" class="total"></div>
    <!-- PHOTO GALLERY SECTION -->
    <section id="photo-gallery-section">
        <div class="grid">
            {
                thumbnailList.map((thumbnail) => (
                    <PhotoCard
                        index={thumbnail.index}
                        name={thumbnail.name}
                        date={thumbnail.dateFormattedString}
                        characterList={thumbnail.characters}
                        tags={thumbnail.tags}
                        qrPostUrl={thumbnail.qrPostUrl}
                        mainPostUrl={thumbnail.mainPostUrl}
                    />
                ))
            }
        </div>
        <div id="gallery-empty-state">
            <div class="icon">✦</div>
            <p>No photos match the selected filters.</p>
        </div>
    </section>
    <script src="../scripts/gallery.ts"></script>
</div>
