---
interface Props {
    characters: string[];
    tags: string[];
}
const { characters, tags } = Astro.props;
---

<section id="filter-section">
    <div class="filter-header">
        <h2>Filter</h2>
        <button id="top-filter-clear-btn" aria-label="Clear filter">
            <span>RESET ALL</span>
        </button>
        <button
            aria-expanded="true"
            aria-controls="filter-section"
            aria-label="Close filter"
            id="top-filter-close-btn"
        >
            <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                <use href="#icon-close"></use>
            </svg>
        </button>
    </div>
    <div class="filter-content">
        <div class="filter-group">
            <span class="filter-label">CHARACTERS</span>
            <div class="filter-pills" id="character-filters">
                <button
                    class="pill active"
                    aria-label="All Characters filter"
                    data-character-all>All Characters</button
                >
                {
                    characters.map((character) => (
                        <button
                            class="pill"
                            data-character={character}
                            aria-label={`${character} filter`}
                        >
                            {character}
                        </button>
                    ))
                }
            </div>
        </div>
        <div class="filter-group">
            <span class="filter-label">PHOTO MODES</span>
            <div class="filter-pills" id="photo-mode-filters">
                <button
                    class="pill active"
                    aria-label="All Modes filter"
                    data-pm-all>All Modes</button
                >
                <button
                    class="pill"
                    aria-label="Solo mode filter"
                    data-pm="solo">Solo</button
                >
                <button class="pill" aria-label="Duo mode filter" data-pm="duo"
                    >Duo</button
                >
                <button
                    class="pill"
                    aria-label="Others mode filter"
                    data-pm="others">Others</button
                >
            </div>
        </div>
        <div class="filter-group">
            <span class="filter-label">TAGS</span>
            <div class="filter-pills" id="tag-filters">
                <button
                    class="pill active"
                    aria-label="All Tags filter"
                    data-tag-all>All Tags</button
                >
                <button
                    class="pill pill-qr"
                    aria-label="Has QR Code filter"
                    data-qr-filter
                >
                    <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                        <use href="#icon-qr"></use>
                    </svg>
                    Has QR Code
                </button>
                {
                    tags.map((tag) => (
                        <button
                            class="pill"
                            data-tag={tag}
                            aria-label={`${tag} filter`}
                        >
                            {tag}
                        </button>
                    ))
                }
            </div>
        </div>
    </div>
    <div class="filter-footer">
        <button id="bottom-filter-clear-btn" aria-label="Clear filter">
            <span>RESET ALL</span>
        </button>
        <button id="bottom-filter-close-btn" aria-label="Close Filter">
            <span>CALCULATING PHOTOS...</span>
        </button>
    </div>
</section>
