---
import photoGalleryJson from "../data/photo_gallery_test.json";
import PhotoCard from "./PhotoCard.astro";
import { formatDate } from "../utils/helper";

// Convert date from "YYYY-MM-DD" to "MON DD, YYYY" format
export const formatDateWithDay = (dateString: string) => {
    const date = new Date(dateString);
    if (date === null) {
        return "";
    }
    return date
        .toLocaleDateString("en-US", {
            month: "short",
            day: "numeric",
            year: "numeric",
        })
        .toUpperCase();
};

const thumbnailList = Object.values(photoGalleryJson.images).map(
    (image, index) => {
        return {
            index: index,
            src: `/images/photos/${image.name}.webp`,
            dateMonthYearString: formatDate(image.date),
            dateFullString: formatDateWithDay(image.date),
            ...image,
        };
    },
);
// get unique characters
const characters = [
    ...new Set(thumbnailList.flatMap((image) => image.characters)),
];
---

<div id="photo-gallery-container">
    <!-- use https://photoswipe.com/ as guideline -->
    <dialog class="lightbox-dialog">
        <div class="lightbox-content">
            {
                thumbnailList.map((image, index) => (
                    <figure
                        class="lightbox-image-container"
                        id={`image-${index}`}
                    >
                        <div class="lightbox-image-wrapper">
                            <img
                                src={image.src}
                                alt={image.alt}
                                loading="lazy"
                                class="lightbox-image"
                                data-index={index}
                            />
                        </div>
                        <div class="lightbox-description-wrapper">
                            <div class="lightbox-tags">
                                <ul>
                                    {image.tags.map((tag) => (
                                        <li>{tag}</li>
                                    ))}
                                </ul>
                            </div>
                            <div class="lightbox-info">
                                <div class="field-content">
                                    <span>PHOTO NO.</span>
                                    <p id="photo-name">{image.name}</p>
                                </div>
                                <div class="field-content">
                                    <span>DATE PHOTO UPLOADED</span>
                                    <p id="photo-date">
                                        {image.dateFullString}
                                    </p>
                                </div>
                            </div>
                            <div class="lightbox-link">
                                {image.qrPostUrl ? (
                                    <a
                                        id="qr-code-btn"
                                        href={image.qrPostUrl}
                                        target="_blank"
                                    >
                                        <svg
                                            class="icon"
                                            viewBox="0 0 24 24"
                                            aria-hidden="true"
                                            fill="currentColor"
                                        >
                                            <use href="#icon-qr" />
                                        </svg>
                                        &nbsp;GET QR CODE
                                    </a>
                                ) : (
                                    <a
                                        id="main-post-link-btn"
                                        href={image.mainPostUrl}
                                        target="_blank"
                                    >
                                        GIVE THIS POST SOME&nbsp;
                                        <svg
                                            class="icon"
                                            viewBox="0 0 512 512"
                                            aria-hidden="true"
                                            fill="currentColor"
                                        >
                                            <use href="#icon-heart" />
                                        </svg>
                                    </a>
                                )}
                            </div>
                        </div>
                    </figure>
                ))
            }
        </div>
        <div class="lightbox-counter-div">
            <span id="lightbox-counter-text">-1 / ${thumbnailList.length}</span>
        </div>
        <!-- Navigation buttons -->
        <div class="lightbox-prev-div">
            <button class="prev-button" aria-label="previous slide">
                <svg
                    class="icon"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    fill="currentColor"
                >
                    <use href="#chev-left"></use>
                </svg>
            </button>
        </div>
        <div class="lightbox-next-div">
            <button class="next-button" aria-label="next slide">
                <svg
                    class="icon"
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    fill="currentColor"
                >
                    <use href="#chev-right"></use>
                </svg>
            </button>
        </div>
        <div class="lightbox-close-div">
            <button class="close-button" aria-label="close button">
                <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
                    <use href="#icon-close"></use>
                </svg>
                <span>CLOSE</span>
            </button>
        </div>
    </dialog>

    <!-- FILTER SECTION -->
    <section id="filter-section">
        <!-- Filter content will go here -->
        <div class="filter-header">
            <h2>FILTER</h2>
            <button class="filter-clear" aria-label="clear filter">
                <span>RESET ALL</span>
            </button>
        </div>
        <div class="filter-content">
            <div class="filter-category">
                <h3>CHARACTERS</h3>
                <!-- Filter content will go here -->
            </div>
            <div class="filter-category">
                <h3>PHOTO MODES</h3>
                <!-- Filter content will go here -->
            </div>
            <div class="filter-category">
                <h3>TAGS</h3>
                <!-- Filter content will go here -->
            </div>
        </div>
    </section>

    <!-- TOTAL PHOTO COUNT -->
    <div class="total">
        {photoGalleryJson.images.length} PHOTO{
            photoGalleryJson.images.length !== 1 ? "S" : ""
        }
    </div>
    <!-- PHOTO GALLERY SECTION -->
    <section id="photo-gallery-section">
        <div class="grid">
            {
                thumbnailList.map((thumbnail) => (
                    <PhotoCard
                        index={thumbnail.index}
                        name={thumbnail.name}
                        alt={thumbnail.alt}
                        date={thumbnail.dateMonthYearString}
                        characterList={thumbnail.characters}
                        tags={thumbnail.tags}
                        qrPostUrl={thumbnail.qrPostUrl}
                        mainPostUrl={thumbnail.mainPostUrl}
                    />
                ))
            }
        </div>
        <!-- <div class="empty-state" id="empty-state">
            <div class="empty-state-icon">✦</div>
            <p>No images match the selected filters.</p>
        </div>-->
    </section>
    <style>
        [data-theme="dark"] {
            --lightbox-text-color: var(--grey-1);
            --lightbox-label-text-color: rgba(197, 194, 211, 0.5);
            --lightbox-tag-bg-color: rgba(176, 136, 99, 0.15);
            --lightbox-tag-border-color: rgba(176, 136, 99, 0.3);
            --lightbox-tag-text-color: #b08863;
            --lightbox-link-btn-bg-top: #96664b;
            --lightbox-link-btn-bg-bottom: #6b4832;
            --lightbox-link-btn-bg-hover: #6b4832;
            --lightbox-link-btn-border-color: rgba(136, 107, 75, 0.8);
            --lightbox-link-btn-text-color: #dbd5c6;
        }

        [data-theme="light"] {
            --lightbox-text-color: #2d3742;
            --lightbox-label-text-color: rgba(45, 55, 66, 0.5);
            --lightbox-tag-bg-color: rgba(87, 67, 58, 0.15);
            --lightbox-tag-border-color: rgba(87, 67, 58, 0.3);
            --lightbox-tag-text-color: #876758;
            --lightbox-link-btn-bg-top: #f7ece0;
            --lightbox-link-btn-bg-bottom: #ead6c3;
            --lightbox-link-btn-bg-hover: #f7ece0;
            --lightbox-link-btn-border-color: rgba(184, 161, 156, 0.8);
            --lightbox-link-btn-text-color: #876758;
        }

        /* ── LIGHTBOX ── */
        .lightbox-dialog::backdrop {
            background: #cabbb8;
            background: linear-gradient(
                0deg,
                rgba(202, 187, 184, 0.8) 0%,
                rgba(0, 0, 0, 0.9) 100%
            );
            backdrop-filter: blur(14px);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .lightbox-dialog {
            display: none;
            opacity: 0;
            border: none;
            background: none;
            width: 100%;
            max-width: none;
            padding: 0;
            overflow: clip;
            margin: auto;
        }

        .lightbox-dialog[open] {
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: visible;
        }

        .lightbox-counter-div {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-50%);
        }

        .lightbox-prev-div {
            position: absolute;
            left: 0;
            top: 50dvh;
            transform: translateY(-50%);
        }

        .lightbox-next-div {
            position: absolute;
            right: 0;
            top: 50dvh;
            transform: translateY(-50%);
        }

        .lightbox-close-div {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-50%);
        }

        .lightbox-content {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .lightbox-image-container {
            opacity: 0;
            display: none;
            overflow: clip;
            background-color: var(--body-bg-color);
            color: var(--white);

            &.active {
                display: flex;
                flex-direction: row;
                /*column in vertical layout*/
                opacity: 1;
            }
        }

        .lightbox-image-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: inherit;
            flex: 1;
        }

        .lightbox-image-wrapper img {
            width: auto;
            height: 100dvh;
            max-height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .lightbox-description-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;
            margin: 1rem;
            width: 250px;
            /* for small devices */
        }

        .lightbox-tags {
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }

            ul li {
                font-size: 0.65rem;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
                background-color: var(--lightbox-tag-bg-color);
                border-radius: 1rem;
                color: var(--lightbox-tag-text-color);
                padding: 4px 10px;
                border: 1px solid var(--lightbox-tag-border-color);
            }
        }

        .lightbox-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            margin: 2rem 0;
        }

        .field-content {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
        }

        .field-content span {
            display: flex;
            color: var(--lightbox-label-text-color);
            font-weight: 800;
            font-size: 0.7rem;
            letter-spacing: 0.2rem;
            margin-bottom: 0.5rem;
        }

        .field-content p {
            display: flex;
            color: var(--lightbox-text-color);
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.1rem;
        }

        #photo-name {
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
        }

        /* TODO for photo album columns */
        @media (orientation: portrait) {
            .lightbox-image-container {
                &.active {
                    flex-direction: column;
                }
            }

            .lightbox-image-wrapper img {
                width: auto;
                height: auto;
                /* max-height: 50dvh; */
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        @media (max-width: 750px) {
            .next-button svg,
            .prev-button svg {
                width: 50px;
                height: 50px;
            }
        }

        @media (max-width: 480px) {
            .lightbox-prev-div {
                display: none;
            }

            .lightbox-next-div {
                display: none;
            }

            .lightbox-image-container {
                /* width: 100dvh; */
                height: 100dvh;
                /* margin-top: 80px; */
            }

            .lightbox-image-wrapper {
                flex-grow: 1;
                /* height: calc(100dvh - 280px);
        width: auto; */
            }

            .lightbox-description-wrapper {
                min-height: 200px;
            }
        }
    </style>
    <script>
        interface LightboxElements {
            thumbnailDivs: NodeListOf<HTMLDivElement>;
            lightboxDialog: HTMLDialogElement | null;
            prevButton: HTMLButtonElement | null;
            nextButton: HTMLButtonElement | null;
            closeButton: HTMLButtonElement | null;
        }

        interface LightboxState {
            currentIndex: number;
            // resizeTimeout?: number;
            // closeDuration: number;
        }

        document.addEventListener("DOMContentLoaded", () => {
            const thumbnailDivs = document.querySelectorAll(".photo-card");

            const lightboxDialog =
                document.querySelector<HTMLDialogElement>(".lightbox-dialog");

            const lightboxCounterText = document.getElementById(
                "lightbox-counter-text",
            ) as HTMLElement;
            const prevButton =
                document.querySelector<HTMLButtonElement>(".prev-button");
            const nextButton =
                document.querySelector<HTMLButtonElement>(".next-button");
            const closeButton =
                document.querySelector<HTMLButtonElement>(".close-button");

            let currentIndex = -1;
            let touchstartX = 0;
            let touchendX = 0;
            let touchstartY = 0;
            let touchendY = 0;

            function showImageAtIndex(index: number): void {
                const lightboxImageContainers =
                    document.querySelectorAll<HTMLElement>(
                        ".lightbox-image-container",
                    );

                if (index < 0 || index >= lightboxImageContainers.length)
                    return;

                for (const container of lightboxImageContainers) {
                    container.classList.remove("active");
                }

                const newActiveImage = document.getElementById(
                    `image-${index}`,
                );
                if (newActiveImage) {
                    newActiveImage.classList.add("active");
                    currentIndex = index;
                    if (lightboxCounterText) {
                        lightboxCounterText.textContent = `${index + 1}/${thumbnailDivs.length}`;
                    }
                } else {
                    console.error(
                        `Image container with id image-${index} not found.`,
                    );
                }

                // Disable prev/next buttons at the ends
                const prevIndex = currentIndex - 1;
                const nextIndex = currentIndex + 1;
                if (prevButton) {
                    prevButton.disabled = prevIndex <= 0;
                    prevButton.setAttribute(
                        "aria-disabled",
                        String(prevIndex <= 0),
                    );
                }
                if (nextButton) {
                    nextButton.disabled =
                        nextIndex >= lightboxImageContainers.length;
                    nextButton.setAttribute(
                        "aria-disabled",
                        String(nextIndex >= lightboxImageContainers.length),
                    );
                }
            }

            function openLightbox(thumbnailDiv: HTMLDivElement) {
                document.body.style.overflow = "hidden";
                if (!lightboxDialog) return;

                const photoIndex = parseInt(thumbnailDiv.dataset.index || "-1");
                lightboxDialog.showModal();
                currentIndex = photoIndex;
                showImageAtIndex(currentIndex);
            }

            function closeDialog() {
                document.body.style.overflow = "";
                if (!lightboxDialog) return;
                const activeImage = document.querySelector(
                    ".lightbox-image-container.active",
                );
                if (activeImage) {
                    activeImage.classList.remove("active");
                }
                lightboxDialog.close();
            }

            function showPreviousImage() {
                if (currentIndex > 0) {
                    const prevIndex = currentIndex - 1;
                    showImageAtIndex(prevIndex);
                }
            }

            function showNextImage() {
                if (
                    currentIndex >= 0 &&
                    currentIndex < thumbnailDivs.length - 1
                ) {
                    const nextIndex = currentIndex + 1;
                    showImageAtIndex(nextIndex);
                }
            }

            //attach event listeners
            for (const thumbnailDiv of thumbnailDivs) {
                thumbnailDiv.addEventListener("click", () =>
                    openLightbox(thumbnailDiv as HTMLDivElement),
                );
            }
            lightboxDialog?.addEventListener("click", (e) => {
                if (e.target === lightboxDialog) {
                    closeDialog();
                }
            });
            prevButton?.addEventListener("click", () => showPreviousImage());
            nextButton?.addEventListener("click", () => showNextImage());
            closeButton?.addEventListener("click", () => closeDialog());
            document.addEventListener("keydown", (e) => {
                if (e.key === "Escape") closeDialog();
                if (e.key === "ArrowLeft") showPreviousImage();
                if (e.key === "ArrowRight") showNextImage();
            });

            lightboxDialog?.addEventListener(
                "touchstart",
                function (event) {
                    touchstartX = event.changedTouches[0].screenX;
                    touchstartY = event.changedTouches[0].screenY;
                },
                false,
            );

            lightboxDialog?.addEventListener(
                "touchend",
                function (event) {
                    touchendX = event.changedTouches[0].screenX;
                    touchendY = event.changedTouches[0].screenY;
                    handleGesture();
                },
                false,
            );

            function handleGesture() {
                if (touchendX < touchstartX) {
                    // Swipe left
                    showNextImage();
                }

                if (touchendX > touchstartX) {
                    // Swipe right
                    showPreviousImage();
                }

                // if (touchendY < touchstartY) {
                //     console.log("Swiped Up");
                // }

                // if (touchendY > touchstartY) {
                //     console.log("Swiped Down");
                // }

                // if (touchendY === touchstartY) {
                //     console.log("Tap");
                // }
            }
        });
    </script>
</div>
