---
import photoGalleryJson from "../data/photo_gallery.json";
import PhotoGalleryFilter from "./PhotoGalleryFilter.astro";
import PhotoCard from "./PhotoCard.astro";
import { formatDate } from "../utils/helper";

const thumbnailList = Object.values(photoGalleryJson.images).map(
    (image, index) => {
        return {
            index: index,
            src: `/images/photos/${image.name}.webp`,
            dateFormattedString: formatDate(image.date),
            ...image,
        };
    },
);
// get unique characters and have it sorted by characters_order
const characters = [
    ...new Set(thumbnailList.flatMap((image) => image.characters)),
].sort(
    (a, b) =>
        photoGalleryJson.characters_order.indexOf(a) -
        photoGalleryJson.characters_order.indexOf(b),
);

// get unique tags and have it sorted by tags_order
const tags = [...new Set(thumbnailList.flatMap((image) => image.tags))].sort(
    (a, b) =>
        photoGalleryJson.tags_order.indexOf(a) -
        photoGalleryJson.tags_order.indexOf(b),
);
---

<div id="photo-gallery-container">
    <PhotoGalleryFilter characters={characters} tags={tags} />

    <!-- TOTAL PHOTO COUNT -->
    <div id="total-photo-count" class="total"></div>
    <!-- PHOTO GALLERY SECTION -->
    <section id="photo-gallery-section">
        <div class="grid">
            {
                thumbnailList.map((thumbnail) => (
                    <PhotoCard
                        index={thumbnail.index}
                        name={thumbnail.name}
                        alt={
                            thumbnail.alt === ""
                                ? (thumbnail.name ?? "")
                                : thumbnail.alt
                        }
                        date={thumbnail.dateFormattedString}
                        characterList={thumbnail.characters}
                        tags={thumbnail.tags}
                        qrPostUrl={thumbnail.qrPostUrl}
                        mainPostUrl={thumbnail.mainPostUrl}
                    />
                ))
            }
        </div>
        <div id="gallery-empty-state">
            <div class="icon">✦</div>
            <p>No photos match the selected filters.</p>
        </div>
    </section>
    <script src="../scripts/gallery.ts"></script>
</div>
