---
import makeupTutorialsJson from "../data/makeup_tutorials.json";
import TutorialCard from "./TutorialCard.astro";

const thumbnailList = Object.values(makeupTutorialsJson.tutorials).map(
    (tutorial) => {
        return {
            src: `/images/tutorials/${tutorial.id}.webp`,
            alt: tutorial.title,
            ...tutorial,
        };
    },
);
---

<div id="makeup-tutorials-container">
    <div class="total">
        {makeupTutorialsJson.tutorials.length} TUTORIAL{
            makeupTutorialsJson.tutorials.length !== 1 ? "S" : ""
        }
    </div>
    <section id="makeup-tutorials-section">
        <div class="grid">
            {
                thumbnailList.map((tutorial) => (
                    <TutorialCard
                        thumbnailPath={tutorial.src}
                        title={tutorial.title}
                        postUrl={tutorial.postUrl}
                    />
                ))
            }
        </div>
    </section>
</div>
