---
interface Props {
    thumbnailPath: string;
    title: string;
    postUrl: string;
}

const { thumbnailPath, title, postUrl } = Astro.props;
---

<div class="tutorial-card">
    <a
        href={`${postUrl}`}
        target="_blank"
        aria-label={`View ${title} tutorial on X`}
    >
        <img
            src={thumbnailPath}
            alt={title}
            onerror="this.onerror=null; this.src='/images/placeholder_500x400.webp'"
            loading="lazy"
            width="500px"
            height="400px"
        />
        <div class="card-body">
            <p class="card-title">{title}</p>
            <p class="card-instruction">View on X ▸</p>
        </div>
    </a>
</div>
