---
interface Props {
    thumbnailPath: string;
    title: string;
    date: string;
    postUrl: string;
}

const { thumbnailPath, title, date, postUrl } = Astro.props;
---

<div class="tutorial-card">
    <a href={`${postUrl}`} target="_blank">
        <img src={thumbnailPath} alt={title} />
        <div class="card-body">
            <p class="card-title">{title}</p>
            <p class="card-date">{date}</p>
        </div>
    </a>
</div>
